<!doctype html>
<html>
<head>
    <meta charset='utf-8'>
    <title>쨖쨔ㄲ</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap-grid.min.css') }}"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css">
    
    {% block meta_og %}
    <meta property="og:url"           content="http://clap.heek.kr" />
    <meta property="og:type"          content="website" />
    <meta property="og:title"         content="쨖쨔ㄲ" />
    <meta property="og:description"   content="Your description" />
    {% endblock %}

    {% block head %}{% endblock %}
</head>
<body>
    {% block body_start %}{% endblock %}

    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
            <a href="/" id="logo-container" href="#" class="brand-logo">쨖쨔ㄲ</a>
        </div>
    </nav>
    
    
    {% block content %}{% endblock %}

    <footer class="page-footer orange">
    <div class="footer-copyright">
    <div class="container">
        쨖쨔ㄲ, Clap-Rythm. <a href="https://github.com/jangjunha/clap_rythm">Github</a>
    </div>
    </div>
    </footer>


    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <script>
        {% for message in messages %}
            Materialize.toast('{{ message }}', 4000);
        {% endfor %}
    </script>
    {% endif %}
    {% endwith %}

<!--
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '1655480774709101',
          xfbml      : true,
          version    : 'v2.5'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>
-->
    {% block lazy_script %}{% endblock %}
</body>
</html>
