{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <h1 class="header center orange-text" style="margin-top: 0">쨖쨔ㄲ</h1>
            <div class="row center">
                <h5 class="header col s12 light">모두 함께 '쨖쨔ㄲ' 박수를 쳐보아요!</h5>
            </div>
        </div>
    </div>

    <div class="input-field">
        <i class="material-icons prefix">video_library</i>
        <input id="yt-url" type="text" required>
        <label for="yt-url">Youtube URL</label>
    </div>
    <br>
    
    <h5>Recent Notes</h5>
    <div class="row center">
        {% for note in notes %}
        <div class="col s6 m4">
            <div class="card">
                <div class="card-image">
                    <img src="http://img.youtube.com/vi/{{ note.video_id }}/mqdefault.jpg">
                    <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                    <h6>{{ note.title }}</h6>
                    <p>by {{ note.writer_name }}</p>
                </div>
                <div class="card-action">
                    <a href="{{ url_for('main.play', note_id=note.key().id_or_name()) }}">Play</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block lazy_script %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#yt-url').keypress(function(e) {
            if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
                var res = goYoutubeURL($('#yt-url').val());
                if (!res) {
                    alert('올바른 Youtube 주소가 아닙니다!\nyoutube.com/watch?=OOO 또는 youtu.be/OOO 형식의 주소를 입력해주세요.');
                }
                return false;
            }
            return true;
        });
    });
</script>
{% endblock %}