{% extends 'base.html' %}

{% block meta_og %}
    <meta property="og:url"           content="{{ request.url }}" />
    <meta property="og:type"          content="website" />
    {% if 'score' in request.args %}
    <meta property="og:title"         content="[{{ note.title }}] {{ request.args.get('score', '0') }}점! - 쨖쨔ㄲ" />
    {% else %}
    <meta property="og:title"         content="[{{ note.title }}] - 쨖쨔ㄲ" />
    {% endif %}
    <meta property="og:description"   content="다같이 쨖쨔ㄲ 박수를 쳐보아요! - {{ note.title }} by {{ note.writer_name }}" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col s12 m12 l6"><div id="player"></div></div>
  <div class="col s12 m12 l6">
    {% if random %}
    <a href="{{ url_for('main.video_play_random', video_id=note.video_id) }}" class="btn waves-effect waves-light">Play</a>
    {% else %}
    <a href="{{ url_for('main.video_play', video_id=note.video_id, note_id=note.key().id_or_name()) }}" class="btn waves-effect waves-light">Play</a>
    {% endif %}
      <form action="#" oninput="result.value = parseInt(test5.value)" action"play.html">
        <p class="range-field">
            
          <input type="range" id="test5" min="0" max="200" value="100"/>
            <h3 align="center"> 박수 인식 크기 조절 버튼</h3>
          
        </p>
      
        <output name="result"></output>
    </div>
</form>
</form>
    
</div>

<!-- <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a> -->
{% endblock %}
{% block lazy_script %}
<script>
  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');

  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
      // height: '390',
      width: '100%',
      videoId: '{{ note.video_id }}',
      events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
      // event.target.playVideo();
    }

  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
      // if (event.data == YT.PlayerState.PLAYING && !done) {
      //   setTimeout(stopVideo, 6000);
      //   done = true;
      // }
      if (event.data == -1) {
        var loaded_video_id = player.getVideoData().video_id;
        if (loaded_video_id != "{{ note.video_id }}") {
          location.href = "/yt/" + loaded_video_id;
        }
      }

      if (event.data == YT.PlayerState.ENDED) {
        player.clearVideo();
      }
    }
    

    </script>

{% endblock %}